#loading {
    display: none;
    font-weight: bold;
    color: black;
}

#resultsContainer {
    margin-top: 20px;
}

#resultsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#resultsTable th, #resultsTable td {
    padding: 5px;
    text-align: left;
}

#resultsTable th {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    padding-bottom: 8px;
}

#resultsTable td {
    border: none;
    font-size: 0.9em;
}